/* color Schemes I want
#8E887B
#A9A69C
#CABEB1
#BDA892
#6F695D
#A59380
*/

body{
    background-color: #6F695D;
    display: flex;
    justify-content: center;
}
.blackLine{
    border-top: 5px solid #000;
    width: 80%;
    margin-left: 1%;
    margin-bottom: 1%;
}
button:hover{
    cursor: pointer;
}
.noDisplay{
    display: none;
}
.buttonInEmpInfo{
    height: 20%;
    align-self: center;
    font-size: 150%;
    width: 100%;
    margin-top: 15px;
}
.buttonNextWeek{
    width: 95%;
    font-size: 400%;
    height: 30%;
    background-color: #888;
    border-radius: 5px;
}
.cursorPointer:hover{
    cursor: pointer;
}
.departmentBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
    font-size: 200%;
}
.departmentDisplay{
    display: flex;
    flex-direction: column;
}
.departmentTitle {
    font-size: 300%;
    text-shadow: 0 0 3px black;
    justify-content: space-between;
}
.depInfo{
    justify-content: space-evenly;
    font-size: 130%;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
}
.empAttributes{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex-wrap: wrap;
}
.empButtonsHolder{
    justify-content: center;
}
.employeeInfo{
    display: none;
    flex-direction: row;
    font-size: 100%;
    column-gap: 5px;
}
.empPicture{
    font-size: 50%;
}
.empPicture:hover{
    cursor: pointer;
}
.errorLog{
    color: red;
    font-size: 150%;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.fullAttributes{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    column-gap: 10px;
    font-size: 150%;
}
#fullHire{
    overflow: auto;
}
#fullMemo{
    padding-left: 10px;
    padding-right: 10px;
    border-style: double;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.helpContent{
    display: none;
    position: absolute;
    font-size: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 11%;
}
.helpIcon{
    font-size: 50%;
}
.helpIcon:hover .helpContent{display: block;}
.helpIconTemp{
    color: black;
}
.helpMenuTitles{
    font-size: 200%;
}
.hireButton{
    text-orientation: upright;
    writing-mode: vertical-rl;
}
.hudData{
    font-weight: normal;
}
.hudTextHolder{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 100%;
    justify-content: center;
}
.imageHolder{
    text-align: center;
    font-weight: bold;
}
.leftDisplay{
    background-color: #A9A69C;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    margin-right: 10px;
    background-color: grey;
}
.leftleftDisplay{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}
.lowerRight{
    border: 5px solid black;
    height: 50%;
    background-color: #CABEB1;
}
.mainHud{
    width: 95%;
    height: 95%;
    background-color: grey;
    display: flex;
    flex-direction: row;
}
.memoBody{
    font-family: "Times New Roman", Times, serif;
    font-size: 125%;
}
.memoOptionButtons{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.moneyTitle{
    margin-top: 0px !important;
}
.optionButtonsHolder{
    display: flex;
    justify-content: space-evenly;
}
.rightDisplay{
    background-color: #A59380;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.smallHud{
    width: 100%;
    flex: 1;
    background-color: white;
    align-content: center;
    display: flex;
    justify-content: center;
    border: 10px solid black;
    flex-direction: column;
    text-align: center;
}
.pointer:hover{
    cursor: pointer;
}
.smallHudTitle{
    padding: none;
    font-size: 150%;
}
.switchDepartmentsMenu{
    position: fixed;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    display: none;
    z-index: 4;
}
.upperRight {
    height: 50%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    border: 5px solid black;
}
.wholeGame{
    width: 190vh;
    height: 95vh;
    background-color: #615f5f;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}







/*extra copied things */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*left: 0;
    top: 0;*/
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }





