.allRounds{
    justify-content: center;
    /*is supposed to be flex */
    /*display: none;*/
    flex-direction: column;
}
.combatButtons{
    position: sticky;
    bottom: 0px;
}
.round{
    font-weight: bold;
    font-size: 120%;
}
.allFights{
    display: flex;
    flex-direction: column;
}
.fight{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fightTeams{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.allPlayers{
    display: flex;
    flex-direction: column;
}
.players{
    font-size: 100%;
    font-weight: normal;
}
.healthText{
    font-size: 70%;
}